:root
{
    --text: #ddd;
    --dark: rgb(37, 37, 37);
    --theme:rgb(64, 99, 81);
    --highlight: 0 1px 5px rgba(129, 129, 129, 0.8);
    scroll-behavior: smooth;
}

html
{
    font-family: Arial, verdana, sans-serif;
    text-align: center;
    color: var(--text);
}

body
{
    background-color: var(--dark);
    overflow-x: hidden;
}

#logo
{
    text-align: left;
    margin: 1.1rem 1rem;
}

nav
{
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    position: absolute;
    overflow: hidden;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    box-shadow: var(--highlight);
}
nav a
{
    background-color: var(--dark);
    color: var(--text);
    padding: 1rem 2rem;
    text-decoration-line: none;
    float: left;
    box-shadow: var(--highlight);
}
nav a:hover
{
    background-color: rgb(31, 31, 31);
    transition: 0.5s;
}
nav a.active
{
    background-color: var(--theme);
}

@media screen and (max-width: 970px)
{
    #logo
    {
        text-align: center;
    }
    nav
    {
        display: grid;
        background-color: RGBA(0, 0, 0, 0);
        position: relative;
        right: 0;
        top: 0;
    }
    .wrapper
    {
        display: grid !important;
        grid-gap: 1rem;
    }
}
@media screen and (min-width: 1500px)
{
    .wrapper2
    {
        margin-inline: 18rem;
    }
}
@media screen and (max-width: 640px)
{
    .wrapper2
    {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

.wrapper
{
    margin-top: 3rem;
    display: flex;
    margin-inline: 1rem;
}
.wrapper#spacing
{
    margin-top: 0;
}
.wrapper2
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.imageContainer
{
    margin-inline: 1rem;
    margin-block: 1rem;
    font-size: 1rem;
    box-shadow: var(--highlight);
}

.imageContainer a
{
    color: var(--text);
    text-decoration-line: none;
}
.imageContainer a:hover, .imageContainer#select:hover
{
    background-color:rgba(129, 129, 129, 0.3);
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

img
{
    width: 100%;
}

button
{
    background-color: var(--theme);
    border: none;
    box-shadow: var(--highlight);
    border-radius: 0.4rem;
    height: 4rem;
    width: 10rem;
    font-size: 1.25rem;
    color: var(--text)
}
button:hover
{
    transition: 0.5s;
    background-color: rgb(88, 129, 108);
    cursor: pointer;
}
.submitBtn
{
    margin-top: 3rem;
    height: 3.6rem;
    width: 10rem;
}

footer
{
    background-color: var(--theme);
    display: grid;
    position: absolute;
    width: 103%;
    margin-inline: -1rem;
    box-shadow: var(--highlight);
}

.scrollTop
{
    border-radius: 0.4rem;
    background-color: rgba(64, 99, 81, 0.8);
    padding: 1rem;
    color: var(--text);
    margin-bottom: 1.25rem;
    position: fixed;
    bottom: 0;
    right: 1rem;
    box-shadow: var(--highlight);
    z-index: 100;
}
.scrollTop:hover 
{
    background-color: rgb(88, 129, 108, 0.8);
    color: white;
    transition: 0.5s;
}

form
{
    background-color: rgba(54, 54, 54, 0.3);
    border-radius: 1rem;
    max-width: 600px;
    margin-inline: auto;
    box-shadow: var(--highlight);
}

h1#spacing1
{
    margin-top: 5.9rem;
}
h1#spacing2
{
    margin-top: 3rem;
}

.info
{
    margin-top: 3rem;
    background-color: rgba(54, 54, 54, 0.3);
    border-radius: 0.5rem;
    max-width: 600px;
    margin-inline: auto;
    box-shadow: var(--highlight);
}
.info#contact
{
    max-width: 300px;
}

input[type="text"], input[type="email"], select
{
    width: 15rem;
    height: 1.5rem;
}
input[type="date"], input[type="time"]
{
    height: 1.5rem;
}
textarea
{
    min-width: 20rem;
    max-width: 20rem;
    min-height: 15rem;
    max-height: 15rem;
}